Source: portal-client
Section: java
Priority: optional
Maintainer: Research Computing Centre <rcc-admin@uq.edu.au>
Build-Depends: debhelper (>= 11)
Vcs-Git: https://github.com/UQ-RCC/portal-client.git
Vcs-Browser: https://github.com/UQ-RCC/portal-client

Package: portal-client
Architecture: all
Depends: default-jre-headless (>= 1.11), adduser
Description: RCC Portal Client
 Handles OpenID/OAuth2 for RCC portals
Suggests: postgresql (>= 10)
Homepage: https://rcc.uq.edu.au/nimrod
