[Unit]
Description=RCC Portal Client
After=network.target
ConditionPathExists=/etc/portal-client/application.yml
ConditionPathExists=/etc/portal-client/logback-spring.xml

[Service]
Type=simple
User=portal-client
Group=portal-client
RuntimeDirectory=portal-client
RuntimeDirectoryMode=770
PrivateTmp=true
WorkingDirectory=/var/lib/portal-client
ExecStart=/usr/share/portal-client/bin/portal-client \
    --spring.config.location=/etc/portal-client/application.yml \
    --logging.config=/etc/portal-client/logback-spring.xml \
    run
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
